.App {
    font-family: "Tauri", sans-serif;
    background-color: antiquewhite;
    min-height: 100vh;
}

.Main {
  padding-top: 1px;
}

* {
    box-sizing: border-box;
  }
  
  a:hover i {
    color: white;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: antiquewhite;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: white;
  }